<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanzoy.yuekewei.mapper.PictureMapper">
    <select id="getSwiperPictureUrl" resultType="string">
        select
               p.url
        from
             picture AS p
        right join
                 swiper_picture AS sp
            on
                p.id = sp.picture_id;
    </select>

    <insert id="insertPicture" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into
            picture(url, remark)
            VALUES (#{url}, #{remark})
    </insert>

    <select id="getAllPicture" resultType="com.hanzoy.yuekewei.pojo.po.PictureInfo">
        select
               id, url, remark
        from
             picture;
    </select>

    <select id="getIdByUrl" resultType="int">
        select id from picture where url = #{url};
    </select>

    <select id="manageGetSwiper" resultType="com.hanzoy.yuekewei.pojo.po.ManageSwiperInfo">
        select sp.id AS id, sp.name AS name, p.url AS url, sp.remark AS remark from swiper_picture sp left join picture p on p.id = sp.picture_id
    </select>

    <update id="changeSwiperPicture">
        update swiper_picture set picture_id = #{pictureId} where id = #{swiperId};
    </update>

    <insert id="insertSwiper" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into swiper_picture(name, remark) values(#{name}, #{remark});
    </insert>

    <delete id="deleteSwiper">
        delete from swiper_picture where id = #{id};
    </delete>

    <update id="editSwiper">
        update swiper_picture set name = #{name}, remark = #{remark} where id = #{id}
    </update>

    <update id="changeCoachAvatarUrl">
        update coach set avatar_url = #{pictureId} where id = #{coachId};
    </update>

    <update id="changeCoachBackgroundUrl">
        update coach set background_url = #{pictureId} where id = #{coachId};
    </update>
</mapper>
