<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanzoy.yuekewei.mapper.PictureMapper">
    <select id="getSwiperPictureUrl" resultType="string">
        select
               p.url
        from
             picture AS p
        right join
                 swiper_picture AS sp
            on
                p.id = sp.picture_id;
    </select>

    <insert id="insertPicture" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into
            picture(url, remark)
            VALUES (#{url}, #{remark})
    </insert>

    <select id="getAllPicture" resultType="com.hanzoy.yuekewei.pojo.po.PictureInfo">
        select
               id, url, remark
        from
             picture;
    </select>
</mapper>
