<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanzoy.yuekewei.mapper.UsersMapper">
    <select id="getUserByOpenid" resultType="com.hanzoy.yuekewei.pojo.po.entity.Users">
        select
               openid, name, nick_name AS nickName, avatar_url AS avatarUrl
        from
             users
        where
              openid = #{openid}
    </select>

    <insert id="insertUser">
        insert into
            users(openid, name, nick_name, avatar_url, phone)
        values
               (#{openid}, #{name}, #{nickName}, #{avatarUrl}, #{phone})
    </insert>

    <select id="getAllUsers" resultType="com.hanzoy.yuekewei.pojo.po.entity.Users">
        select openid, name, nick_name AS nickName, avatar_url AS avatarUrl, phone from users
    </select>

    <update id="updateInformation">
        update users set name = #{name}, phone = #{phone} where openid = #{openid};
    </update>
    <select id="getAllUsersByKey" resultType="com.hanzoy.yuekewei.pojo.po.entity.Users">
        select
               openid, name, nick_name AS nickName, avatar_url AS avatarUrl, phone
        from
             users
        where
              phone like CONCAT('%', #{key}, '%')
           or
              name like CONCAT('%', #{key}, '%')
           or
              nick_name like CONCAT('%', #{key}, '%')
    </select>
    
    <select id="getUserInfo" resultType="com.hanzoy.yuekewei.pojo.po.UserInfo">
        select name, nick_name AS nickName, phone, avatar_url AS avatarUrl from users where openid = #{openid}
    </select>

    <update id="updateCourseTime">
        update course_time set count = #{count} where user_id = #{openid} and course_id = #{courseId};
    </update>

    <insert id="addCourseTime">
        insert into course_time(user_id, course_id, count) VALUES (#{openid}, #{courseId}, #{count});
    </insert>
</mapper>
