<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanzoy.yuekewei.mapper.VenueMapper">
    <select id="getVenue" resultType="com.hanzoy.yuekewei.pojo.po.VenueInfo">
        select
               v.id, v.name, v.address, p.url AS pictureUrl
        from
             venue v
        left join
            picture p
                on p.id = v.picture_url
    </select>

    <insert id="insertVenue" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into venue(name, address) values (#{name}, #{address});
    </insert>

    <update id="editVenue">
        update venue set name = #{name}, address = #{address} where id = #{id}
    </update>

    <delete id="deleteVenue">
        delete from venue where id = #{id}
    </delete>

    <update id="changeVenuePicture">
        update venue set picture_url = #{pictureId} where id = #{id}
    </update>
</mapper>
